
      <div id="main-nav" class="collapse navbar-collapse">
        <ul class="nav navbar-nav" id="mainNav">
          <li><a href="/" class="scroll-link">Home</a></li>
            <li><a href="/about/" class="scroll-link">About Wolf Tree</a></li>
          <li><a href="/beers/" class="scroll-link">Beers</a></li>
          <li><a href="/beerfinder/" class="scroll-link">Beerfinder</a></li>
          <li><a href="/news/" class="scroll-link">News</a></li>
          <li><a href="/contact/" class="scroll-link">Contact</a></li>
            <li><a href="/tumornator/" class="scroll-link">Tumornator</a></li>
        </ul>
      </div>
