
      <nav>
        <ul class="nav"  id="mainNav">
          <li><a href="/" >Home</a></li>
            <li><a href="#" >About Wolf Tree</a>
            <ul class="sub_nav">
                <li><a href="/brewery/"> The Brewery </a></li>
                <li><a href="/staff/"> Our Team </a></li>
            </ul></li>
          <li><a href="/beers/" >Beers</a></li>
          <li><a href="/tumornator/" >Tumornator</a></li>
            <li><a href="/beerfinder/" >Beerfinder</a></li>
          <li><a href="/news/" >News</a></li>
            <li><a href="/events/" >Events</a></li>
          <li><a href="/contact/" >Contact</a></li>

        </ul>
      </nav>
