
      <nav>
        <ul class="nav"  id="mainNav">
          <li><a href="/" > Home </a></li>
            <li><a href="/brewery/" > About Wolf Tree </a>
                <ul class="sub_nav">
                    <li><a href="/brewery/"> The Brewery </a></li>
                    <li><a href="/staff/"> Our Team </a></li>
                </ul></li>
            <li><a href="/all/"> Beers </a>
                <ul class="sub_nav">
                    <li><a href="/all/"> All Beers </a></li>
                    <li><a href="/farm/"> Farm Dog Beers </a></li>
                </ul></li>
          <li><a href="/tumornator/" > Tumornator </a></li>
            <li><a href="/beerfinder/" > Beerfinder </a></li>
          <li><a href="/news/" > News </a></li>
            <li><a href="/eventscalendar/month/events/" > Events </a></li>
            <li><a href="/contact/" > Contact </a>
                <ul class="sub_nav">
                    <li><a href="/contact/"> Contact Us </a></li>
                    <li><a href="/subscribe/"> Subscribe </a></li>
                </ul></li>

        </ul>
      </nav>
