
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Wolf Tree Brewery{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/wolf_styles.css' %}">
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js"
            data-dojo-config="usePlainJson: true, isDebug: false"></script>
    <script type="text/javascript">require(["mojo/signup-forms/Loader"], function (L) {
        L.start({"baseUrl": "mc.us14.list-manage.com", "uuid": "742caf094f967d901ce8af3eb", "lid": "a886baad02"})
    })</script>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyA28Tncg4T22upFoAz_n9LgrMTQ_O3uv9k"
            type="text/javascript"></script>
    <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.css" %}" type="text/css" media="screen">
    <script type="text/javascript" src="{% static "jquery/dist/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/dist/js/bootstrap.js" %}"></script>
{#<script type="text/javascript" src="{% static 'instafeed/instafeed.min.js' %}"></script>#}
    <link rel="stylesheet" href="{% static "schedule.css" %}" type="text/css" media="screen">

<div class="wrapper">
    <header class="header">
     <div class="navigation">
        {% include "_nav.html" %}
     </div>
    </header>

    <div class="main">

    {% block content %}

    {% endblock %}
    </div>
    {% block body %}
    {% endblock %}

    {% block javascript %}

    {% endblock %}
</div>


{#    <script type="text/javascript">#}
{#        var feed = new Instafeed({#}
{#            get: 'tagged',#}
{#            tagName: 'wolftreebrewery',#}
{#            clientId: 'f65b1c4473c54577bd54eae4feabd279'#}
{#        });#}
{#        feed.run();#}
{#    </script>#}

