{% extends "base.html" %}
{% block title %} - The Brewery{% endblock %}
<div class="wrapper">
    {% block content %}
        <section id="brewery-container">
        <div class="brewery-items">

            <h2>About Wolf Tree</h2>

            <p>

                Wolf Tree Brewery is located along Beaver Creek, on a working cattle ranch in Seal Rock, Oregon. The
                brewery first opened its doors in 2013, operating with a 20 gallon brew system. Since then, the brewery
                has expanded to a 7 bbl system and the capability to brew close to 100 bbls a month.

                The brewery produces beer made from the finest ingredients, including natural spring water from the
                coastal forests on the ranch and hops grown on the property. The flagship beer, Spruce Tip Ale is made
                by using spruce tips harvested from Sitka Spruce trees located on the property. The name “Wolf Tree” is
                also associated with our Spruce Tip Ale. A wolf tree is a forestry term used to describe the biggest
                tree in the forest, and Sitka Spruce trees are generally the largest trees along this stretch of the
                coast range.

                Wolf Tree Brewery is one of very few brewery's operating on a working cattle ranch. The brewery is
                located in a rural area, and does not support a tasting room or brewpub and is strictly a production
                brewery. There are drawbacks with not having a retail space, however we are able to grow a number of
                ingredients for our beer on the ranch and dispose of our spent grain onsite…...

                Our mission is to craft unique and distinctive beers that encompass the ranch and surrounding coastal
                forests.


            <p>
                Wolf Tree Brewery is a Registered Trademark of Wolf Tree Brewery LLC
            </p>
            </div>

        </section>
    {% endblock %}
