{% extends "base.html" %}
{% block title %} - Farm Dog Beers{% endblock %}
{% block content %}

   <h1> Farm Dog Beers</h1>
<div class="beers">
    <div class="individual">
        <h2> CAMILLE'S GOLDEN IPA </h2>
        <p>A blend of the Pacific Northwest’s most intriguing aroma hop varieties are used in this golden Ale.  Very complex hop flavors and a smooth finish.  Probably the best IPA you will ever have. Ever. <br>
        7.5% ABV 80 IBU </p>
    </div>

    <div class="individual">
            <h2> CAMILLE'S GOLDEN IPA - FRESH HOP</h2>
            <p>Only brewed once a year with Cascade, Chinook and Nugget hops grow onsite!<br>
            7.5% ABV 80 IBU </p>
        </div>
    <div class="individual">
            <h2> CALI'S BLACK IPA </h2>
            <p>Dark malty IPA with a light citrus zest, dry hopped with Australian Galaxy hops. <br>
            6.5% ABV 104 IBU </p>
        </div>
{% endblock %}