{% extends "base.html" %}
{%  load static %}
{% block title %} - The Team{% endblock %}
{% block content %}
    <div>

    <h2>
      TEAM BIOS
    </h2>
    <div class="individual">
    <img src="{% static "images/burt.jpg" %}">
    <p> Joe is the Head Brewer for Wolf Tree. He loves perfectly tied shoelaces and Twizzlers.</p></div>
    <div class="individual">
    <img src="{% static "images/cookie.jpg" %}">
    <p> Taryn is the official imaginary fiance for Wolf Tree. She secretly loves wine and sometimes fills up her beer bottle with a nice Pinot.</p></div>
     <div class="individual">
    <img src="{% static "images/ernie.jpg" %}">
    <p> Sarah is pretty good at guessing people's made up personality characteristics. She likes beer and Christopher Walken.</p></div>
    </div>
{% endblock %}

