{% extends "base.html" %}
{% block title %} - Tumornator {% endblock %}
{% block content %}
<div class="basic-text">
    <h2>THE MAN</h2>
        <p>William E. Hitselberger M.D. (1930-2014) also known as the tumornator, was a neurosurgeon who developed
            innovative
            approaches to skull base tumors. He performed more than 6000 surgeries to remove acoustic neuromas. He was a
            pioneer in developing the auditory brainstem implant and he directly, or indirectly, helped train most
            neurotologic surgeons in this country. He made a difference. He also enjoyed a good IPA, and we have made a
            great one. </p>
</div>

<div class="basic-text">
    <h2 >THE BEER</h2>
        <p>A crisp, malty Triple IPA brewed with 5 different types of hops. Big citrus and tropical fruit tones along
            with intense pine,
            and woodsy aromas. This unfiltered Triple IPA is only brewed a few times a year, and it pairs well with
            sunshine,
            Golden Retrievers and clothes fresh out of the dryer.

            12.5% ABV 100 IBU </p>
</div>

<div class="basic-text">
<h2>THE CAUSE</h2>
        <p>A portion of the proceeds of the sale of this beer will help support local charities. </p></div>
{% endblock %}

