@font-face {
    font-family: "wolftree-head";
    src: url('../fonts/nashvill.ttf')
}

@font-face {
    font-family: "wolftree-emphasis";
    src: url('../fonts/WhitePine-Regular.otf')
}

@font-face {
    font-family: "wolftree-emphasis";
    src: url('../fonts/WhitePine-Regular.otf')
}

p {
    font-family: 'Vollkorn', serif;
}


#feed {
    top: 45px;
}

.footer {
    background-color: red;
}

.teaser-item {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: salmon;
}

#home-container {
    display: flex;
    justify-content: space-between;

}

#slideshow{
    padding-left: 0;
}

#caro-tease{
    display: flex;
    flex-direction: column;
}

#carousel {
    display: flex;
    flex-direction: column;
}


#teasers {
    display: flex;
    justify-content: space-between;
    margin: 25px;
}

.basic-text{
    font-family: 'Vollkorn', serif;
    font-size: 1em;
}

@media all and (min-width: 600px) {
    .aside {
        flex: 1 auto;
    }
}

@media all and (min-width: 800px) {
    .main {
        flex: 2 0px;
    }

    .aside-1 {
        order: 1;
    }

    .main {
        order: 2;
    }

    .aside-2 {
        order: 3;
    }

    .footer {
        order: 4;
    }
}

h2 {
    font-family: "wolftree-body";
    font-weight: bold;
}

nav {
    display: flex;
    font-family: "wolftree-body";
    justify-content:space-around;
}

#nav-container{
    display: flex;
    justify-content: space-between ;
    flex-flow: wrap;
    flex-basis: 100%;
     background-color: grey;
    opacity: .5;
}



nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure{
    width: 13%
}

.nav {
    vertical-align: top;
    border-radius: 6px;
}

#banner{
    display: flex;
    flex-direction: column;
    background-color: #2b542c;
}

#logo-top{
    display:flex;
    align-items: center;
    justify-content: center;
}

#head-text{
    color: black;
    font-size: 5em;
    font-family: wolftree-head;
}
.nav a {
    display: block;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    position: relative;
}



.nav li {
    position: relative;
}

.nav > li {
    float: left;
    border-bottom: 4px #111 solid;
    margin-right: 1px;
}

.nav > li > a {
    margin-bottom: 1px;

}

.nav > li:hover,
.nav > li:hover > a {
    border-bottom-color: orange;
}

.nav li:hover > a {
    color: orange;
}

.nav > li:first-child {
    border-radius: 4px 0 0 4px;
}

.nav > li:first-child > a {
    border-radius: 4px 0 0 0;
}

.nav > li:last-child {
    border-radius: 0 0 4px 0;
    margin-right: 0;
}

.nav > li:last-child > a {
    border-radius: 0 4px 0 0;
}

.nav li a:first-child:nth-last-child(2):before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: 50%;
    right: 5px;
}

.nav ul {
    position: absolute;
    white-space: nowrap;
    border-bottom: 5px solid orange;
    z-index: 1;
    left: -99999em;
}

.nav > li:hover > ul {
    left: auto;
    margin-top: 0px;
    min-width: 100%;
}

.nav > li li:hover > ul {
    left: 100%;
    margin-left: 1px;
    top: -1px;
}

.nav > li > a:first-child:nth-last-child(2):before {
    border-top-color: #aaa;
}

.nav > li:hover > a:first-child:nth-last-child(2):before {
    border: 5px solid transparent;
    border-bottom-color: orange;
    margin-top: -5px
}

.nav li li > a:first-child:nth-last-child(2):before {
    border-left-color: #aaa;
    margin-top: -5px
}

.nav li li:hover > a:first-child:nth-last-child(2):before {
    border: 5px solid transparent;
    border-right-color: orange;
    right: 10px;
}

#map {
    height: 500px;
    width: 600px;
    margin: auto;
}

/*.content {*/
    /*display: flex;*/
    /*justify-content: flex-start;*/
    /*width: 95%;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
/*}*/

.hideable {
    display: none;
}

.main {
    display: flex;

}

/* Large Screens*/

.navigation {
    /*display: flex;*/
    /*flex-flow: row wrap;*/
    /*justify-content: flex-end;*/

}

/* Medium Screens*/

@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
}

/* Small Screens*/
@media all and (max-width: 500px) {
    .navigation {
        flex-direction: column;
    }
}

